# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# Streamlit cache & configs
.streamlit/
*.pdf
*.csv

# IDE configs
.vscode/
.idea/
